:root {
  --image-block-opacity: 0;
  --image-block-grayscale-filter: grayscale(100%);
}
img,
video,
svg {
  opacity: var(--image-block-opacity) !important;
  filter: var(--image-block-grayscale-filter) !important;
}
